<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="robot_ip" />

  <include file="$(find franka_cutting)/launch/franka_control.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
  </include>
    <arg name="config" default="true"/>
    <arg name="rviz_config" default="$(find franka_cutting)/launch/moveit.rviz" />
  
    
  <!-- Add planning context launch file -->
  <include file="$(find franka_cutting)/launch/planning_context.launch">
        <arg name="load_robot_description" value="true"/>
  </include>
    
  <include file="$(find franka_cutting)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="true"/>
  </include>
    
  <include file="$(find franka_cutting)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(arg rviz_config)" />
  </include>
    
</launch>
