<?xml version="1.0" ?>

<launch>
  <arg name="robot_ip" />
  <arg name="load_gripper" default="true" />
  <!--<arg name="material_type" default="none" />-->
  <!--<arg name="cutting_strategy" default="chop" />-->

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="position_joint_trajectory_controller"/>

  <include file="$(find franka_cutting)/launch/franka_control.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
  </include>
  <arg name="rviz_tutorial" default="false" />

  <!-- Add planning context launch file -->
  <include file="$(find franka_cutting)/launch/planning_context.launch">
        <arg name="load_robot_description" value="true"/>
  </include>
    
  <include file="$(find franka_cutting)/launch/move_group.launch">
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>
    
  <include file="$(find franka_cutting)/launch/moveit_rviz.launch">
    <arg name="rviz_tutorial" value="$(arg rviz_tutorial)" />
  </include>
  
  <!-- Trajectory with cartesian_path  -->  
  <!--node pkg="franka_cutting" type="plan_cartesian_path.py" name="plan_cartesian_path" output="screen"-->
  <!--/node-->
  
    
  <!-- Trajectory with joint states  -->  
  <!--node pkg="franka_cutting" type="test_joint.py" name="test_joint" output="screen"-->
  <!--/node-->
  
  <!-- Choping trajectory  -->  
  <!--node pkg="franka_cutting" type="choping.py" name="choping" output="screen"-->
  <!--/node-->
  
  <!-- Sawing trajectory  -->  
  <!--node pkg="franka_cutting" type="sawing.py" name="sawing" output="screen"-->
  <!--/node-->

  <!-- Pressing trajectory  -->  
  <node pkg="franka_cutting" type="pressing.py" name="pressing" output="screen">
  </node>
  
  <!--<node pkg="franka_cutting" type="$(arg cutting_strategy).py" name="joint_motion" output="screen" />-->
  <!--<node pkg="rosbag" type="record" name="rosbag" output="screen" args="record -a -o /home/abdulrah/$(arg material)_$(arg cutting_strategy).bag"/> -->
  
  <!--include file="$(find zivid_samples)/launch/sample.launch"-->
    <!--arg name="type" value="sample_capture_assistant.py"/-->
  <!--/include-->  
</launch>
