<?xml version="1.0" ?>

<launch>
  <arg name="robot_ip" />
  <arg name="load_gripper" default="true" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="position_joint_trajectory_controller"/>

  <include file="$(find franka_cutting)/launch/franka_control.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
  </include>
  <arg name="rviz_tutorial" default="false" />

  <!-- Add planning context launch file -->
  <include file="$(find franka_cutting)/launch/planning_context.launch">
        <arg name="load_robot_description" value="true"/>
  </include>
    
  <include file="$(find franka_cutting)/launch/move_group.launch">
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>
    
  <include file="$(find franka_cutting)/launch/moveit_rviz.launch">
    <arg name="rviz_tutorial" value="$(arg rviz_tutorial)" />
  </include>
    
</launch>
